@model HtmlHelperi.Models.Osoba
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormHelper</title>
    <style>
        label{
            display: inline-block;
            width: 150px;
            margin: 5px;
        }
        .redColor{
            color:red;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div>
                <label>Ime:</label>
                @Html.TextBox("Ime")
            </div>
            <div>
                <label>Prezime:</label>
                @Html.TextBox("Prezime")
            </div>

            <div>
                <label>Email:</label>
                @Html.TextBox("Email")
            </div>
            
            
            // nešto ne valja sa string[] 
            <div>
                <label>Mjesto stanovanja:</label>
                @Html.DropDownList("MjestoStanovanja", new SelectList((string[])ViewBag.Mjesta), "--Odaberi--")
            </div>

            <div>
                <label>Spol:</label>
                @Html.RadioButton("Spol", "M", true) Muško
                @Html.RadioButton("Spol", "Ž", false) Žensko
            </div>

            <div>
                <label>Zaposlen:</label>
                @Html.CheckBox("Zaposlen", false)
            </div>

            <input type="submit" value="Pošalji" />
        }
        <p>
            <label class="redColor">@ViewBag.Poruka</label>
        </p>
    </div>
</body>
</html>
